@import "tailwindcss";

@font-face {
  font-family: "Rayakan";
  src: url("./assets/fonts/RayakanRegular-5yGXG.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-rayakan {
  font-family: 'Rayakan', sans-serif;
}